<footer id="footer">
    <div class="boundaries-wrapper">
        <div id="footer-top">
            <section id="footer-hero">
                <h2>
                    {{ site.title }}
                </h2>
                <p>
                    {{ site.description }}
                </p>
                <a class="cta" href="/contact.html">
                    Me Recruter
                </a>
            </section>
            <section>
                <h2>Compétences</h2>
                <ul>
                    <li><a href="front-end.html">Front-End</a></li>
                    <li><a href="back-end.html">Back-end</a></li>
                    <li><a href="android.html">Android</a></li>
                </ul>
            </section>
            <section>
                <h2>Réalisations</h2>
                <ul>
                    <li><a href="sagelink.html">SageLink</a></li>
                    <li><a href="warnit.html">Warnit</a></li>
                    <li><a href="savanhike.html">Savanhike</a></li>
                </ul>
            </section>
            <section>
                <h2>
                    Contact
                </h2>
                <ul>
                    <li>
                        <img height="512" width="512" src="../assets/images/icons/mail.svg" alt="Enveloppe, représentant un e-mail"/>
                        <p>malick1ndiaye0@gmail.com</p>
                    </li>
                    <li>
                        <img height="512" width="512" src="../assets/images/icons/place.svg" alt="Pin, représentant un emplacement"/>
                        <p>Montauban, France</p>
                    </li>
                </ul>
            </section>
        </div>
        <section id="footer-legal">
            <p>Copyright Malick Ndiaye 2024</p>
            |
            <a href="/credits.html">Crédits</a>
            |
            <a href="/licence.html">Licence</a>
        </section>
    </div>
</footer>