@use "variables" as *;

html {
  :current(a) {
    background: red;
  }

  button, a {
    cursor: pointer;
    min-height: 48px;
    min-width: 48px;
  }

  button {
    background: none;
    border: none;
    &, img {
      height: 48px;
      width: 48px;
    }
  }

  a {
    align-items: center;
    border-block: 2px solid transparent;
    box-sizing: border-box;
    color: $color-foreground;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: fit-content;

    &:hover, &:active, &.current-page {
      border-bottom: 2px solid $color-foreground-accent;
    }

    &.current-page {
      cursor: default;
    }
    
    &.cta, &.secondary {
      padding-inline: space(4);
    }

    &.cta {
      background: $color-foreground-accent;
      color: $color-background;

      &:hover, &.active {
        background: none;
        color: $color-foreground;
      }
    }

    &.secondary {
      border: $border-button;

      &:hover, &:active {
        border-left: $border-button-transparent;
        border-right: $border-button-transparent;
        border-top: $border-button-transparent;
      }
    }
  }
}
