@use "variables" as *;

html {
  :current(a) {
    background: red;
  }

  button, a {
    cursor: pointer;
    min-height: 48px;
    min-width: 48px;
  }

  button {
    background: none;
    border: none;
    &, img {
      height: 48px;
      width: 48px;
    }
  }

  a {
    align-items: center;
    border-block: 2px solid transparent;
    box-sizing: border-box;
    color: $color-foreground;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: fit-content;

    &:hover, &:active, &.current-page {
      border-bottom: 2px solid $color-foreground-accent;
    }

    &.current-page {
      cursor: default;
    }
    
    &.cta, &.secondary {
      padding-inline: space(4);
    }

    &.cta {
      background: $color-foreground-accent;
      color: $color-background;

      &:hover, &.active {
        background: none;
        color: $color-foreground;
      }
    }

    &.secondary {
      border: $border-accent;

      &:hover, &:active {
        border-left: $border-transparent;
        border-right: $border-transparent;
        border-top: $border-transparent;
      }
    }
  }

  details {
    border: $border-separator;
    display: flex;
    flex-direction: column;
    padding: space(2);
    width: 100%;

    &, & > * {
      padding: space(2);
    }

    summary {
      cursor: pointer;
      display: flex;
      font-size: 1.6rem;
      justify-content: space-between;
      text-transform: uppercase;

      &::marker {
        display: none;
      }

      &::after {
        align-self: center;
        content: '';
        border-top: 10px solid $color-foreground-accent;
        border-inline: 7px solid transparent;
        transition: 0.1s linear;
      }
    }

    .body {
      background: $color-background-accent;
      margin: space(2);
      
      p {
        text-align: start;
      }
    }

    &:hover {
      border: $border-accent;
    }

    &[open] > summary::after {
      transform: rotate(180deg);
    }
  }
}
