@use 'variables' as *;

@font-face {
  font-family: 'Taviraj';
  font-weight: 300;
  src: url('../fonts/Taviraj/taviraj-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Taviraj';
  font-weight: 400;
  src: url('../fonts/Taviraj/taviraj-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Taviraj';
  font-weight: 700;
  src: url('../fonts/Taviraj/taviraj-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
}

html {
  color: $color-foreground-accent;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-weight: 400;

  ::selection {
    background: $color-foreground-accent;
    color: $color-background;
  }

  h1, h2, h3, .h1-subtitle, .h2-subtitle, .h3-subtitle {
    font-family: 'Taviraj', serif;
  }

  h1, h2, h3, a > p {
    font-weight: 700;
  }

  .h1-subtitle, .h2-subtitle, .h3-subtitle, .subtext {
    font-weight: 300;
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .h1-subtitle, h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .h2-subtitle, h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .h3-subtitle, p, a {
    font-size: 1.6rem;
  }
  
  .h3-subtitle {
    line-height: 1.6rem;
  }
  
  p, a {
    line-height: 2.4rem;
  }

  .subtext {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  
  p {
    color: $color-foreground;
    max-width: 60rem;

    & > a {
      display: inline;
      font-style: italic;
    }
  }

  li {
    list-style: none;
  }
  
  footer {
    h2 {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
    
    h3 {
      font-size: 1.4rem;
      line-height: 1.4rem;
    }
    
    p, a {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    
    .subtext {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}