@use "../variables" as *;

.contact-page-container {
  display: flex;
  flex-direction: column;
  gap: space(8);
  
  header {
    align-items: center;
    border-block: $border-separator;
    display: flex;
    flex-direction: column;
    gap: space(4);
    padding-block: space(4);
  }
}

.contact-card {
  align-items: center;
  border: $border-separator;
  display: flex;
  flex-direction: column;
  gap: space(4);
  padding: space(8);
  text-align: center;

  img {
    border: 0;
    margin-bottom: space(2);
    width: 50%;
  }

  a {
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: $breakpoint-desktop) {
  .contact-page-container {
    display: grid;
    gap: space(16);
    grid-template-columns: repeat(3, 1fr);
    
    header {
      grid-column: 1 / 4;
      grid-row: 1;
    }

    .contact-card {
      grid-row: 2;
    }
  }

  .contact-card {
    &:hover {
      box-shadow: $box-shadow;
      transform: scale(1.025);
    }

    img {
      width: 30%;
    }

    a {
      margin-top: auto;
    }
  }
}