@use "../variables" as *;

.post-page-container {
  
  p {
    margin-top: space(4);
    max-width: unset;
  }
  
  h2, h3 {
    width: fit-content;
  }
  
  h1 {
    border-block: $border-separator;
    margin-bottom: space(8);
    padding-block: space(4);
    text-align: center;
  }
  
  h2 {
    margin-top: space(16);
  }
  
  h3 {
    margin-top: space(8);
  }

  .related-skills {
    display: flex;
    flex-direction: column;
    gap: space(4);

    .skill-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: space(4);
      
      a {
        padding-inline: space(8);
        
        &:not(:first-child) {
          border-left: $border-separator;
        }
      }
    }
  }
}