@use "../variables" as *;

.post-page-container {
  display: flex;
  flex-direction: column;
  
  p {
    margin-top: space(4);
    max-width: unset;
  }
  
  h2, h3 {
    width: fit-content;
  }
  
  h1 {
    border-block: $border-separator;
    margin-bottom: space(8);
    padding-block: space(4);
    text-align: center;
  }
  
  h2 {
    margin-top: space(16);
  }
  
  h3 {
    margin-top: space(8);
  }

  .related-skills {
    display: flex;
    flex-direction: column;
    gap: space(4);

    .skill-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: space(4);
      
      a {
        padding-inline: space(8);
        
        &:not(:first-child) {
          border-left: $border-separator;
        }
      }
    }
  }
  
  p:has(img) {
    display: flex;
    justify-content: center;
  }
  
  img {
    max-height: max-content;
    max-width: max-content;
    
    &.google_play {
      max-width: 256px;
    }
  }
  
  video {
    border: $border-separator;
    margin-bottom: space(4);
    margin-inline: auto;
    width: 50%;
  }
}