@use "../variables" as *;

.presentation-page-container {  
  display: flex;
  flex-direction: column;
  gap: space(16);
  
  #hero {
    display: flex;
    flex-direction: column;
    gap: space(4);

    .img-container {
      display: flex;
      width: 100%;
    }
    
    #hero-content {
      display: flex;
      flex-direction: column;
      gap: space(4);

      &.centered {
        align-items: center;
        text-align: center;
      }

      header {
        display: flex;
        flex-direction: column;
        gap: space(2);
      }

      #hero-buttons {
        display: flex;
        gap: space(4);
      }
    }
  }
  
  section {
    display: flex;
    flex-direction: column;
    gap: space(8);
    
    & > header {
      align-items: center;
      border-block: $border-separator;
      display: flex;
      flex-direction: column;
      gap: space(4);
      padding-block: space(4);
      text-align: center;
    }
    
    .articles {
      display: flex;
      flex-direction: column;
      gap: space(8);
      
      article {
        &:nth-of-type(odd) {
          img {
            float: left;
            margin-right: space(4);
          }
        }
        
        &:nth-of-type(even) {
          img {
            float: right;
            margin-left: space(4);
          }
          header {
            text-align: end;
          }
        }
        
        img {
          aspect-ratio: 1 / 1;
          margin-bottom: space(2);
          width: 45%;
        }

        header {
          display: flex;
          flex-direction: column;
          gap: space(2);
          margin-bottom: space(4);
        }
      }
    }
    
    &#biographie {
      display: block;
      
      header {
        margin-bottom: space(8);
      }
      
      a {
        margin-inline: auto;
        margin-top: space(8);
      }
      
      &:nth-of-type(odd) {
        img {
          float: left;
          margin-right: space(4);
        }
      }

      &:nth-of-type(even) {
        img {
          float: right;
          margin-left: space(4);
        }
      }

      img {
        aspect-ratio: 1 / 1;
        margin-bottom: space(2);
        margin-right: space(4);
        width: 45%;
      }
    }
    
    &.timeline {
      & > .header {
        border: $border-accent;
        padding-block: unset;
        position: relative;
        text-align: center;
        text-transform: unset;
        
        img {
          border: 0;
        }
        
        .logo {
          left: 0;
          max-height: 96px;
          max-width: 96px;
          position: absolute;
          top: 0;
        }
        
        .texts {
          @include overlay;
          border-top: $border-accent;
          bottom: 0;
          display: flex;
          flex-direction: column;
          gap: space(2);
          padding-block: space(2);
          position: absolute;
          width: 100%;

          p {
            white-space: normal;
          }
        }
      }
      
      .articles article:nth-of-type(even) header {
        text-align: unset;
      }
    }
    
    &#parcours {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: space(8);
      position: relative;
      width: 100%;
      
      header {
        width: 100%;
      }
      
      & > p {
        max-width: unset;
        width: 100%;
      }
    }
    
    &#contact {
      gap: space(8);
      
      header {
        gap: space(4);
      }
      
      a {
        justify-content: center;
        width: 100%;
      }
    }
    
    &#biographie-excerpt {
      .content, .texts {
        display: flex;
        flex-direction: column;
        gap: space(4);
        
        a {
          width: 100%;
        }
      }
    }
  }
}

.list-page-container {
  display: flex;
  flex-direction: column;
  gap: space(16);

  header:has(h1){
    align-items: center;
    border-block: $border-separator;
    display: flex;
    flex-direction: column;
    gap: space(4);
    padding-block: space(4);
  }

  details {
    .grid {
      display: flex;
      flex-direction: column;
      gap: space(8);

      div {
        display: flex;
        flex-direction: column;
        gap: space(2);
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: space(8);
  }
}

.skill-grid {
  display: flex;
  flex-direction: column;
  gap: space(8);

  article {
    align-items: center;
    border: $border-separator;
    display: flex;
    flex-direction: column;
    gap: space(4);
    height: fit-content;
    padding: space(8);
    text-align: center;

    img {
      aspect-ratio: 1 / 1;
      border: 0;
      width: 50%;

      &:not(.color){
        filter: grayscale(1);
      }
    }

    .texts {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: space(4);
      width: 100%;

      .tag {
        text-transform: capitalize;
      }

      details > p {
        text-align: start;
      }

      a {
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.post-list-excerpt {
  & > a, & > header {
    width: 100%;
  }
}


@media (min-width: $breakpoint-desktop) {
  .presentation-page-container {
    #hero {
      align-items: center;
      flex-direction: row-reverse;
      gap: space(16);
      justify-content: space-between;
      
      &.reverse {
       flex-direction: row; 
      }
      
      #hero-content {
        gap: space(8);
        width: 100%;

        &.centered {
          align-items: start;
          text-align: start;
        }
        
        header {
          gap: space(4);
        }
      }
      
      img {
        height: 100%;
        width: 100%;
      }
    }
    
    section {
      gap: space(16);
      
      .articles {
        article {
          &:nth-of-type(even) {
            img {
              float: left;
              margin-left: 0;
              margin-right: space(4);
            }
            header {
              text-align: start;
            }
          }
        }
        &.three-col {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          article {
            max-width: 30%;

            img {
              margin-bottom: 0;
              width: 40%;
            }
          }
        }
        &.alternating {
          article {
            align-items: center;
            display: grid;
            column-gap: space(8);
            max-width: calc(50% - 32px);
            row-gap: space(4);
            
            img {
              grid-column: 1;
              grid-row: 1/3;
              margin: 0;
              width: 100%;
            }
            
            header {
              grid-column: 2;
              grid-row: 1/2;
              margin: 0;
            }
            
            & > p {
              grid-column: 2;
            }
            
            &:nth-of-type(even){
              margin-left: auto;

              img {
                grid-column: 2;
              }

              header {
                grid-column: 1;
              }
              
              & > p {
                grid-column: 1;
              }
            }
          }
          
        }
      }
      
      &.two-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        & > header {
          grid-column: 1 / 3;
          grid-row: 1;
        }
        
        .img-container {
          background: $pattern-memphis;
          grid-column: 1;
          grid-row: 2;
          height: 100%;
          width: 100%;
        }
        
        .articles {
          flex-direction: column;
          grid-column: 2;
          grid-row: 2;
          
          article {
            display: grid;
            column-gap: space(8);
            max-width: unset;
            row-gap: space(2);
            
            header {
              grid-column: 1 / 3;
            }
            
            img {
              grid-column: 1;
              grid-row: 2;
              width: 100%;
            }
            
            & > p {
              grid-column: 2;
              grid-row: 2;
              height: fit-content;
              margin-block: auto;
            }

            &:nth-of-type(even){
              margin-left: auto;

              img {
                grid-column: 2;
              }

              header {
                grid-column: 2;
                text-align: end;
              }

              & > p {
                grid-column: 1;
              }
            }
          }
        }
      }
      
      &#biographie {
        display: flex;
        flex-direction: column;
        gap: space(8);
        
        header {
          margin: 0;
        }
        
        & > p {
          max-width: unset;
          width: 100%;
        }
      }

      &#biographie.two-col {
        column-gap: space(16);
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0;

        header {
          align-items: unset;
          border: unset;
          grid-row: 1;
          margin-bottom: unset;
          margin-top: auto;
          padding-block: unset;
          text-align: unset;
        }

        &:nth-of-type(even), &:nth-of-type(odd) {
          img {
            float: unset;
            grid-row: 1 / 4;
            margin: unset;
            width: 100%;
          }
        }

        &:nth-of-type(even) {
          img {
            grid-column: 1;
          }

          header, p, a {
            grid-column: 2;
          }
        }

        &:nth-of-type(odd) {
          img {
            grid-column: 2;
          }

          header, p, a {
            grid-column: 1;
          }
        }

        & > p {
          grid-row: 2;
          margin-block: auto;
        }

        & > a {
          grid-row: 3;
          height: fit-content;
          margin-bottom: auto;
          margin-inline: unset;
          margin-top: unset;
        }
      }
      
      &.timeline {
        align-items: center;
        justify-content: space-between;
        
        &:nth-of-type(odd) {
          flex-direction: row-reverse;
        }
        
        &:nth-of-type(even) {
          flex-direction: row;
        }
        
        .header > .texts {
          padding-block: space(4);
        }
        
        & > .header:hover {
          filter: grayscale(0.5);
          
          .texts {
            background-color: $color-foreground-accent;
            
            &, p {
              color: $color-background;
            }
          }
        }
        
        a:not(.secondary) {
          aspect-ratio: 1 / 1;
        }
        
        a:not(.secondary), img, .articles {
          width: 100%;
        }
      }
      
      &#contact {
        align-items: center;
        
        header {
          width: 100%;
        }

        .contact-card, a.secondary {
          max-width: 50%;
          width: 100%;
        }
      }
      
      &#biographie-excerpt {
        align-items: center;
        gap: space(8);
        
        .content {
          gap: space(8);
          max-width: 50%;
        }
      }
    }
  }

  .list-page-container {
    details {
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .skill-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    article {
      .texts {
        margin-top: auto;
      }

      &:hover {
        box-shadow: $box-shadow;
        transform: scale(1.025);
      }
    }
  }
  
  .post-list-excerpt {
    align-items: center;
    gap: space(8) !important;
    
    & > a {
      width: calc(calc(100% - 32px) / 3) !important;
    }
  }
}