---
---

@import "base/variables";
@import "base/interactables";
@import "base/typography";

@import "includes/navbar";
@import "includes/footer";

@import "layouts/articles";
@import "layouts/headers";
@import "layouts/sections";

html {
  height: 100%;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.1s linear;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;

    .boundaries-wrapper {
      max-width: $size-desktop-max-width;
      padding-inline: $size-mobile-padding-horizontal;
      width: 100%;
    }

    main {
      display: flex;
      justify-content: center;
      margin-top: 48px;
      
      img {
        border: $border-separator;
        height: auto;
        max-width: 100%;
        
        &.grayscale {
          filter: grayscale(1);
        }
      }

      .mobile-center {
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  html {
    body {
      main {
        margin-bottom: space(16);
        margin-top: 64px;
        
        .mobile-center {
          align-items: start;
          justify-content: start;
          text-align: start;
        }
      }
    }
  }
}