---
---

@import "variables";
@import "interactables";
@import "typography";

@import "includes/navbar";
@import "includes/footer";

@import "pages/home";

html {
  height: 100%;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-wrapper {
      max-width: $size-desktop-max-width;
      padding-inline: $size-mobile-padding-horizontal;
      width: 100%;
    }

    main {
      display: flex;
      height: 100%;
      justify-content: center;
      margin-bottom: space(8);
      margin-top: calc(48px + 32px);
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  html {
    body {
      main {
        margin-bottom: space(16);
        margin-top: calc(64px + 64px);
      }
    }
  }
}