@use "../variables" as *;

#footer {
  background-color: $color-background-accent;
  display: flex;
  justify-content: center;
  padding-top: space(8);
  width: 100%;

  .boundaries-wrapper {
    display: flex;
    flex-direction: column;
    gap: space(4);

    #footer-top {
      display: flex;
      flex-direction: column;
      gap: space(8);
      
      #footer-hero {
        gap: space(4);
      }

      section {
        display: flex;
        flex-direction: column;

        ul {
          display: flex;
          flex-wrap: wrap;
          column-gap: space(4);

          li {
            align-items: center;
            display: flex;
            gap: space(2);
            min-height: 48px;

            img {
              max-width: 24px;
            }
          }
        }
      }
    }
    #footer-legal {
      align-items: center;
      display: flex;
      gap: space(2);

      p {
        white-space: nowrap;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #footer {
    .boundaries-wrapper {
      #footer-top {
        flex-direction: row;
        justify-content: space-between;

        section {
          max-width: 30%;
          gap: space(4);

          ul {
            flex-direction: column;
          }
        }
      }
      #footer-legal {
        gap: space(4);
      }
    }
  }
}