@use "../variables" as *;

#navbar {
  @include overlay;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  #nav-main {
    display: flex;
    justify-content: space-between;

    a {
      font-family: 'Taviraj', serif;
      font-weight: 700;
    }
  }

  #nav-list {
    align-items: center;
    display: none;
    flex-direction: column;
    gap: space(8);
    height: calc(100dvh - 48px);
    justify-content: center;
  }

  &:has(#menu-toggle[aria-expanded="true"]) #nav-list {
    display: flex;
  }
}

@media (min-width: $breakpoint-desktop) {
  #navbar {
    display: flex;
    justify-content: center;

    .main-wrapper {
      display: flex;
      flex-direction: row;

      &, li, a {
        height: 64px;
      }
    }

    #nav-main {
      width: fit-content;

      #menu-toggle {
        display: none;
      }
    }

    #nav-list {
      display: flex;
      flex-direction: row;
      height: fit-content;
      width: 100%;

      li:first-child, li:last-child {
        margin-left: auto;
      }
    }
  }
}