@use "../base/variables" as *;

html {
  main {
    section {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: space(8);
      justify-content: center;
      padding-block: space(8);
      text-align: center;
      
      a {
        width: 100%;
      }
      
      .body {
        display: flex;
        flex-direction: column;
        gap: space(8);
      }
    }
    
    #hero {
      gap: space(4);
      
      .cta-container {
        display: flex;
        flex-direction: column;
        gap: space(2);
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  html {
    main {
      section {
        padding-block: space(16);
      }

      .three-col {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        header {
          align-items: center;
          grid-column: 1 / 4;
          grid-row: 1;
        }
        
        article {
          grid-row: 2;
        }
        
        a {
          grid-column: 2;
          grid-row: 3;
        }
      }
    }
  }
}