<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="{{site.description}}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
  {% include navbar.html %}
  <main>
      {{ content }}
  </main>
  {% include footer.html %}
  </body>
</html>
