---
layout: default
---

<div class="boundaries-wrapper post-page-container">
    {{content}}
    <section>
        <h2>{% if page.categories contains 'compétences' %}Projets liées{% elsif page.categories contains 'realisations' %}Compétences liés{% endif %}</h2>
        <div>
            {% for competence in page.competences %}
            {% for post in site.posts %}
            {% if post.categories contains 'compétences' and post.url contains competence %}
            <article>
                <img height="512" width="512" src="{{site.baseurl}}{{post.img}}" alt="Icône représentant {{ post.title }}"/>
                <h3>{{ post.title }}</h3>
                <a href="{{ post.url }}">En savoir plus</a>
            </article>
            {% endif %}
            {% endfor %}
            {% endfor %}

            {% for realisation in page.realisations %}
            {% for post in site.posts %}
            {% if post.categories contains 'realisations' and post.url contains realisation %}
            <article>
                <img height="512" width="512" src="{{site.baseurl}}{{post.img}}" alt="Icône représentant {{ post.title }}"/>
                <h3>{{ post.title }}</h3>
                <a href="{{ post.url }}">En savoir plus</a>
            </article>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </section>
</div>